    @font-face {
    font-family: iranyekan;
    src: url(../fonts/IRANYekanRegularFaNum.ttf);
  }
  
  @font-face {
    font-family: iranyekanLight;
    src: url(../fonts/IRANYekanLightFaNum.ttf);
  }
  
  @font-face {
    font-family: iranyekanBold;
    src: url(../fonts/IRANYekanBoldFaNum.ttf);
  }

  @font-face {
    font-family: iranyekanEBold;
    src: url(../fonts/IRANYekanExtraBoldFaNum.ttf);
  }
  

  @font-face {
    font-family: iranyekanregBold;
    src: url(../fonts/IRANYekanBold.ttf);
  }
  @font-face {
    font-family: iranyekanreregLight;
    src: url(../fonts/IRANYekanLight.ttf);
  }
  @font-face {
    font-family: iranyekanregRegular;
    src: url(../fonts/IRANYekanRegular.ttf);
  }
  